* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
}

body {
  background-image: url(../Images/background.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  position: fixed;
  top: 20vh;
}

.header h1 {
  color: black;
  font-size: 2.5rem;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 20px;
  min-width: 400px;
  position: fixed;
  border: 1px solid black;
}

.input-container input {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  background-color: transparent;
  color: #333;
  outline: none;
  font-size: 1.3rem;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  background-color: #daa520;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.result {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 435px;
  margin-top: 200px;
  background-color: aliceblue;
  border: 1px solid black;
}
